.logo{
	text-align: center;
}
hr
{
    background-color: #ddd;
    border: 0 none;
    color: #ddd;
    height: 1px;
}
p{

}
.post-content{
	background-color: #eee;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	border:1px solid #ddd;
	border-left:5px solid #ddd;
	display: inline-block;
	padding-right:30%;
}
.post-nested{
	position: relative;
	padding-left: 1.5em;
}

#post-form{
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	border:1px solid #ddd;
}